<%
  const metaSetting = {
    tw_card:'summary_large_image',
    tw_site:'@hoge',
    tw_creator:'@hoge',
    tw_title:'titleが入ります',
    tw_description:'descriptionが入ります',
    tw_image:'image_urlが入ります'
  }
%>
<!DOCTYPE html>
<html lang="jp">

<head>
<%- include('./_assets/ejs/_meta') %>
<%- include('./_assets/ejs/_tw_card',{config:metaSetting}) %>
<%- include('./_assets/ejs/_ga',{gaAccount:gaAccount}) %>
<link rel="stylesheet" href="./css/style.css">
<title>Document</title>
</head>

<body>
  <h1>CSS Gridサンプル</h1>
  <div class="grid-container">
    <div class="area1">1</div>
    <div class="area2">2</div>
    <div class="area3">3</div>
    <div class="area4">4</div>
    <div class="area5">5</div>
    <div class="area6">6</div>
    <div class="area7">7</div>
  </div>
  <script src="./js/app.js"></script>
</body>

</html>