<!DOCTYPE html>
<html lang="jp">

<head>
<%- include('./_assets/ejs/_meta') %>
<%- include('./_assets/ejs/_tw_card',{config:config}) %>
<%- include('./_assets/ejs/_ga',{config:config}) %>
<link rel="stylesheet" href="./css/style.css">
<title>Document</title>
</head>

<body>
  <h1>Gulpサンプル</h1>
  <div class="imgBlock">
    <a href="javascript:void(0)" id="btn"><img src="images/pic.jpg" alt=""></a>
  </div>  
  <script src="./js/index.js"></script>
</body>

</html>