<!DOCTYPE html>
<html lang="jp">

<head>
<%- include('./_assets/ejs/_meta') %>
<%- include('./_assets/ejs/_tw_card',{config:config}) %>
<%- include('./_assets/ejs/_ga',{config:config}) %>
<link rel="stylesheet" href="./css/style.css">
<title>Document</title>
</head>

<body>
  <h1>CSS Gridサンプル</h1>
  <ul class="grid">
    <li class="grid-area1">
      1
    </li>
    <li class="grid-area2">
      2
    </li>
    <li class="grid-area3">
      3
    </li>
    <li class="grid-area4">
      4
    </li>
    <li class="grid-area5">
      5
    </li>
  </ul>
  <script src="./js/index.js"></script>
</body>

</html>