body {
  margin: 0px;
  background-color: #fff;
}

.imgBlock {
  width: 50%;
  a {
    &:hover {
      opacity: 0.6;
    }
  }
  img {
    width: 100%;
  }
}

.grid {
  width: 74.375%;
  max-width: 1190px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30.25% 37.81% 30.25%;
  grid-template-rows: 100px 1fr 2fr;
  grid-template-areas: 'area1 area2 area2' 'area1 area3 area5' 'area4 area4 area5';
  gap: 10px;

  > li {
    list-style: none;
    border: solid 1px #000;
    width: 100%;
    &.grid-area1 {
      grid-area: area1;
    }
    &.grid-area2 {
      grid-area: area2;
    }
    &.grid-area3 {
      grid-area: area3;
    }
    &.grid-area4 {
      grid-area: area4;
    }
    &.grid-area5 {
      grid-area: area5;
    }
  }
}
